.chessboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chessboardRow {
  display: flex;
}

.droppableCell {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cellOdd {
  background-color: #f0d9b5;
}

.cellEven {
  background-color: #b58863;
}

.draggablePiece {
  font-size: 32px;
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.playAgainButton {
  background-color: #4caf50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.playAgainButton:hover {
  background-color: #45a049;
}

.turnText {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  padding-bottom: 20px;
}

.victoryMessage {
  font-size: 24px;
  color: #d32f2f;
  padding-bottom: 20px;
  text-align: center;
}

.gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.capturedPieces {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0 20px;
  cursor: pointer;
}

.capturedPieceBlack {
  font-size: 24px;
  margin: 2px;
  color: black;
}

.capturedPieceWhite {
  font-size: 24px;
  margin: 2px;
  color: white;
}

.chessBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerSwap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: green;
}